<div class="jumbotron text-center">
    <h1>List of Courses</h1>
    <p>Whinkers courses avaibles</p> 
</div>

<div class="container">
  <div class="row">
    <div *ngIf="courses?.length > 0;else noCourses">
      <ul *ngFor="let courses of courses" class="collection">
        <li class="collection-item" (dblclick)="deleteCourses($event, courses)">
        <strong>{{ courses.title }}</strong> : {{ courses.content1 }} 
        <a class="secondary-content">
          <i (click)="editCourses($event, courses)" class="fa fa-pencil"></i>  
          <i (click)="deleteCourses($event, courses)" class="fa fa-trash"></i>
        </a>
        

        <div *ngIf="editState && coursesToEdit.code == courses.code">
          <form (ngSubmit)="updateCourses(courses)">
            <div class="row">
              <div class="input-field col s6">
                <input type="text" placeholder="Edit title" [(ngModel)]="courses.title" name="title">
              </div>
              <div class="input-field col s6">
                <input type="text" placeholder="Edit content1" [(ngModel)]="courses.content1" name="content1">
              </div>
              <input type="submit" class="btn" value="Update Course">
              <button class="btn red" (click)="deleteCourses($event, courses)">Delete Course</button>
            </div>
          </form>
        </div>

        </li>
      </ul>
    </div>
  </div>
</div>
  <ng-template #noCourses>
    <hr>
    <h5>There are no courses to list</h5>
  </ng-template>

