<div class="jumbotron" id="home">
    <div class="nav-item-center">
        <img src="assets/logo-fondo-degradado.jpg" class="img-thumbnail" alt="Cinque Terre">
    </div>
  <h1 class="display-3 center">Why Whinker?</h1>
  <p class="lead">"We believe that everyone should have access to high-quality knowledge and education. We want to help wide thinkers everywhere to pursue their dreams, teaching them something new everyday. We offer access to an international and collaborative learning experience, where we are revolutionizing education and sharing knowledge."  </p>
  <hr class="my-4">
  <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>
</div>