<div class="jumbotron">
  <h1 class="display-3">Zona Privada</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>

  <h1 class="display-3">Lista de Cursos:</h1>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Shorties
      <span class="badge badge-primary badge-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Whinker Course
      <span class="badge badge-primary badge-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Whinker Academic Course
      <span class="badge badge-primary badge-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Whinker Online Degree
      <span class="badge badge-primary badge-pill">0</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Whinker Program
      <span class="badge badge-primary badge-pill">1</span>
    </li>
  </ul>
</div>